a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.yoga-img {
  width: 25%;
  float: right;
}

.profile-img {
  width: 200px;
}

.profile {
  font-weight: bold;
}

.computer-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.bottom-cloud {
  position: absolute;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.7rem;
  margin: 30px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 1.50rem;
  margin: 10px auto 30px auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}

.skills p{
  margin: auto auto 100px auto
}

.top-container {
  background-color: #e8ffff;
  position: relative;
  padding-top: 50px;
}

.top-container .subtitle {
  font-weight: normal;
}


.top-cloud {
  position: relative;
  left: 250px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px;
  font-size: 75%;
}

.bottom-container p {
  color: #EAF6F6;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-link {
  margin: 10px 10px 10px 10px;
}

.contact-button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 1rem;
   font-weight: 100;
   padding: 10px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto 30px auto;
}

.contact-button:hover {
   background: #19AEBB;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
