body {
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #edcfa9;
  position: relative;
  padding-top: 50px;
}

.top-cloud {
  position: relative;
  left: 210px;
}

.bottom-cloud {
  position: absolute;
}

.bottom-container {
  background-color: green;
  width: 200px;
  height: 200px;
}

h1 {
  margin-top: 0;
}
